# Article

In [ ]:
import numpy as np
import pandas as pd

In [21]:
print("np.nan == np.nan >>> ", np.nan == np.nan)
print("np.nan is np.nan >>> ", np.nan is np.nan)

print("None == None     >>> ", None == None)
print("None is None     >>> ", None is None)

np.nan == np.nan >>>  False
np.nan is np.nan >>>  True
None == None     >>>  True
None is None     >>>  True

In [31]:
print("np.isnan(np.nan) >>> ", np.isnan(np.nan))

np.isnan(np.nan) >>>  True

In [36]:
try:
    np.isnan(None)
except TypeEnrror as e:
    print(e)

ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [27]:
print("pd.isna(np.nan) >>> ", pd.isna(np.nan))
print("pd.isna(pd.NaT) >>> ", pd.isna(pd.NaT))
print("pd.isna(None)   >>> ", pd.isna(None))

pd.isna(np.nan) >>>  True
pd.isna(pd.NaT) >>>  True
pd.isna(None)   >>>  True

In [28]:
pd.isna(np.nan)
np.isnan(np.nan)

True

## Calculating Statistics

In [18]:
data = [1.0, 2.0, 3.0, np.nan]

# np.mean() vs np.nanmean()
print("np.mean(data)    >>> ", np.mean(data))
print("np.nanmean(data) >>> ", np.nanmean(data))

# np.sum() vs np.nansum()
print("np.sum(data)     >>> ", np.sum(data))
print("np.nansum(data)  >>> ", np.nansum(data))

np.mean(data)    >>>  nan
np.nanmean(data) >>>  2.0
np.sum(data)     >>>  nan
np.nansum(data)  >>>  6.0

In [ ]:
data = {
    'Fruit': ['apple', 'orange', 'strawberry', 'tangerine'], 
    'Price': [1.0, np.nan, 0.1, 1.0]
}
df = pd.DataFrame(data)
print(df)

In [7]:
g_obj = df.groupby(by='Price')
print(g_obj.groups)

{0.1: Int64Index([2], dtype='int64'), 1.0: Int64Index([0, 3], dtype='int64')}

pd.isna(pd.NaT) --> True
True
True

In [13]:
df['Price2'] = pd.Categorical(df['Price'])
print(df)
df['Price2'].cat.categories

        Fruit  Price Price2
0       apple    1.0    1.0
1      orange    NaN    NaN
2  strawberry    0.1    0.1
3   tangerine    1.0    1.0

Float64Index([0.1, 1.0], dtype='float64')